@import './components/user-card/user-card.component.css';
@import './components/pagination/pagination.component.css';
@import "./components/menuing/footer-navbar.component.css";
@import "./components/menuing/header-navbar.component.css";
@import "./pages/form/form-user.component.css";

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-div {
    display: flex;
    justify-content: center;
    width: 100%;
}
.router {
    min-height: 100%;
}